* {
  margin: 0;
  padding: 0;
}

#criar-tarefa {
  width: auto;
  height: auto;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

/* body {
  background-color: rgb(94, 170, 221);
} */

header {
  padding: 10px;
}

#funcionamento {
  margin-bottom: 10px;
}

#texto-tarefa {
  margin-left: 10px;
  margin-bottom: 10px;
}

#section1 {
  padding: 10px;
}

/* li {
  margin-left: 30px;
} */
