#criar-tarefa {
  width: auto;
  height: auto;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

header {
  padding: 10px;
}

#funcionamento {
  margin-bottom: 10px;
}

#texto-tarefa {
  margin-left: 10px;
  margin-bottom: 10px;
}

#section1 {
  padding: 10px;
}

ol {
  list-style-type: none;
}
